
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html{
  scroll-snap-type:y mandatory;
  scroll-behavior:ease;

}
section{
  scroll-snap-align: start ;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scroll-margin-top:20px ;
}
body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden !important;
}
p{
  font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.navfont {
    font-family: "Roboto Mono", monospace;
  }
.headingfont{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
  .circle {
    position: absolute;
    backdrop-filter: blur(15px);
    filter: blur(20px);
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: #FF8A00;
    opacity: 0.9;
    border-radius: 80%;
    backface-visibility: hidden;
    z-index: -1;
  }
  .glassMorph{
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 6.5px );
border-radius: 10px;

  }
  .buttonsgrad{
    background: linear-gradient(157deg, #24FFDF 5%, #2CCD76 40%, #3D5CFF);
    opacity:0.7;
  }
  .bordergrad{

    position: relative;
    border-radius: 18px; 
  }
 .bordergrad::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px; 
    padding: 1px; 
    background:linear-gradient(90deg, rgba(250, 62, 62, 0.3) 27%, rgba(73, 201, 209,0.3), rgba(13, 194, 205, 0.3)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
    
  }

  .buttonshadow{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  }


  body {	
    /* background: linear-gradient(to bottom, #0B486B, #2AF598, #fec051, #FEE140, #F56217 ); */
    background: linear-gradient(to bottom, #0b486bab, #2af598a3, #fec0519e, #fee1409c, #f562179c);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
 
  
  
  html {
    margin: 0;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .box {
    position: absolute;
    bottom: -40px;
    z-index: -1;
    width: 100vw;
    height: 600px;
  }

  
  .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .box-inner {
  
    
    
    background-image: 
      url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='rgba(255,255,255,0.8)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
      url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='rgba(255,255,255,0.6)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
      url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='rgba(255,255,255,0.4)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%, -50px 130%, 500px 130%;
    
    animation: 20s waves linear infinite forwards;
  }
  
  @keyframes waves {
    to {
      background-position: 1600px 130%, 3150px 130%, 5300px 130%;
    }
  }