
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}
p{
  font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.navfont {
    font-family: "Roboto Mono", monospace;
  }
.headingfont{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
  .circle {
    position: absolute;
    backdrop-filter: blur(10px);
    filter: blur(16px);
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: #FF8A00;
    border-radius: 80%;
    backface-visibility: hidden;
    z-index: -1;
  }
  .glassMorph{
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 6.5px );
border-radius: 10px;

  }
  .buttonsgrad{
    background: linear-gradient(157deg, #24FFDF 5%, #2CCD76 40%, #3D5CFF);
    opacity:0.7;
  }
  .bordergrad{

    position: relative;
    border-radius: 18px; 
  }
 .bordergrad::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px; 
    padding: 1px; 
    background:linear-gradient(90deg, rgba(250, 62, 62, 0.4544) 27%, #49c9d1, rgba(13, 194, 205, 0.5)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

  .buttonshadow{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  }